<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Loja virtual</title>
        <link rel="stylesheet" href="/static/CSS/styles.css"/>
    </head>
    <body>
        <div class="navbar">
            <div class="header-inner-content">
                <h1 class="logo">BLUE<span>STORE</span></h1>
                <nav>
                    <ul>
                        <li><a href="/">Home</a> </li>
                        <li><a href="/produtos">Produtos</a> </li>
                        <li><a href="/contato">Contato</a> </li>
                        <li><a href="/conta">Conta</a> </li>
                        <li><a href="/sobre">Sobre</a> </li>
                    </ul>
                </nav>
                <div class="nav-icon-container">
                    <img src="/static/images/cart.png"/>
                    <img src="/static/images/menu.png" class="menu-button"/>
                </div>
            </div>
        </div>

        <header>
            <div class="header-inner-content">
                <div class="header-bottom-side">
                    <div class="header-bottom-side-left">
                        <h2> Dê um novo estilo ao seu trabalho!</h2>
                        <p>
                            Sucesso nem sempre tem haver cpm grandeza.Tem haver com
                            consistência. Trabalho duro consistente supera o socesso. A 
                            grandeza virá.
                        </p>
                        <button>Ver agora &#8594;</button>
                    </div>
                    <div class="header-bottom-side-right">
                        <img src="/static/images/gaming-msi-header.png" alt=""/>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Main Content -->
        <main>
            <div class="gray-background">
                <div class="page-inner-content">
                    <div class="cols cols-3">
                        <img src="/static/images/products/product-1.png" alt=""/>
                        <img src="/static/images/products/product-2.png" alt=""/>
                        <img src="/static/images/products/product-3.png" alt=""/>
                    </div>
                </div>
            </div>

            <!--Div produtos selecionados ------------------------------------------------------------- -->
            <div>
                <div class="page-inner-content">
                    <h3 class="section-title">Produtos selecionados</h3>
                    <div class="subtitle-underline"></div>

                    <div class="cols cols-4">
                        <div class="product">
                            <img src="/static/images/products/product-4.png"/>
                            <p class="product-name">Combo Gamer Meetion</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                            <p class="product-price">R$4000,00 <span> BRL</span></p>
                        </div>
                        <div class="product">
                            <img src="/static/images/products/product-5.png"/>
                            <p class="product-name">Placa</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                            <p class="product-price">R$2000,00 <span> BRL</span></p>
                        </div>
    
                        <div class="product">
                            <img src="/static/images/products/product-6.png"/>
                            <p class="product-name">Controle PS5</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                            <p class="product-price">R$500,00 <span> BRL</span></p>
                        </div>
    
                        <div class="product">
                            <img src="/static/images/products/product-7.png"/>
                            <p class="product-name">Cadeira Gamer</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                            <p class="product-price">R$1000,00 <span> BRL</span></p>
                        </div>
                    </div>
                </div>
                <!-- --------------------------------------------------------------------------------------------------------------------------- -->
                <!--Div últimos produtos -------------------------------------------------------------------------------------------------------------- -->
                <div class="page-inner-content">
                    <h3 class="section-title">Últimos produtos</h3>
                    <div class="subtitle-underline"></div>

                    <div class="cols cols-4">
                        <div class="product">
                            <img src="/static/images/products/product-8.png"/>
                            <p class="product-name">Iphone 14 Pro Max 512GB</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                            <p class="product-price">R$6000,00 <span> BRL</span></p>
                        </div>
                        <div class="product">
                            <img src="/static/images/products/product-9.png"/>
                            <p class="product-name">Samsung Galaxy S23 ultra 1TB</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                            <p class="product-price">R$4500,00 <span> BRL</span></p>
                        </div>
    
                        <div class="product">
                            <img src="/static/images/products/product-10.png"/>
                            <p class="product-name">Asus Rog Phone 3 Gamer</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                            <p class="product-price">R$2000,00 <span> BRL</span></p>
                        </div>
    
                        <div class="product">
                            <img src="/static/images/products/product-11.png"/>
                            <p class="product-name">Xiaomi 13 Ultra</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                            <p class="product-price">R$25000,00 <span> BRL</span></p>
                        </div>

                        <div class="product">
                            <img src="/static/images/products/product-12.png"/>
                            <p class="product-name">Xbox Series X</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                            <p class="product-price">R$1500,00 <span> BRL</span></p>
                        </div>
                        <div class="product">
                            <img src="/static/images/products/product-13.png"/>
                            <p class="product-name">Racingwheel GT480 Ferrari</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                            <p class="product-price">R$1000,00 <span> BRL</span></p>
                        </div>
    
                        <div class="product">
                            <img src="/static/images/products/product-14.png"/>
                            <p class="product-name">PlayStation 5</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                            <p class="product-price">R$3000,00 <span> BRL</span></p>
                        </div>
    
                        <div class="product">
                            <img src="/static/images/products/product-15.png"/>
                            <p class="product-name">Gamimg Desktop RTX 3090Ti</p>
                            <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                            <p class="product-price">R$25000,00 <span> BRL</span></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gray-background">
                <div class="header-inner-content">
                    <div class="header-bottom-side exclusive-container">
                        <div class="header-bottom-side-left">
                            <h2>Smart Band 4</h2>
                            <p>
                                O Mi Smart Band 4 tem uma tela AMOLED 39.9% maior que a Mi Band
                                3, tela completamente digital com brilho ajustável, de tal modo
                                que tudo é claro ao máximo.
                            </p>
                            <button>Ver agora &#8594;</button>
                        </div>
                        <div class="header-bottom-side-right">
                            <img src="static/images/exclusive.png" alt=""/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-inner-content">
                <div class="testimonials">

                    <div class="testimonial">
                        <p>"</p>
                        <p> O melhor website responsivo e moderno.</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p>Marquinhos</p>
                    </div>
                    <div class="testimonial">
                        <p>"</p>
                        <p>A-do-rei.</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                        <p>Ricardão</p>
                    </div>
                    <div class="testimonial">
                        <p>"</p>
                        <p>Tá bom.</p>
                        <p class="rate">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                        <p>Ricardinho</p>
                    </div>

                </div>
            </div>
        </main>

        <footer class="gray-background">
            <div class="page-inner-content footer-content">
                <div class="download-options">
                    <p>Baixe nossa aplicação</p>
                    <p>Baixe nossa aplicação para Android e IOS</p>
                    <div>
                        <img src="/static/images/app-store.png" alt=""/>
                        <img src="/static/images/play-store.png" alt=""/>
                    </div>
                </div>
    
                <div class="logo-footer">
                    <h1>BLUE<span>STORE</span></h1>
                    <p>
                        Nosso objetivo é ajudar pessoas comuns a se tornarem 
                        desenvolvedores Web Pro Max
                    </p>
                </div>
                
                <div class="links-footer">
                    <h3>Links úteis</h3>
                    <ul>
                        <li>Cupons</li>
                        <li>Blog Post</li>
                        <li>Políticas</li>
                        <li>Torne-se afiliado</li>
                    </ul>
                </div>
    
            </div>
            <hr class="page-inner-content"/>
            <div class="page-inner-content copyright">
                <p>Copyright 2013 - Com todos direitos reservados</p>
            </div>
        </footer>
        <script src="/static/JavaScript/script.js"></script>
        
    </body>
</html>
